<!DOCTYPE html>
<html>
<head>
	<title>Collapsible Tree</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">	
</head>
<body>
  <header>
  	<nav class="navbar navbar-inverse">
  	  <a href="/" class="navbar-brand">Collapsible Tree using MEAN stack</a>
  	 </nav>
  </header>

<!-- MAIN CONTENT HERE -->
<%- defineContent('hero') %>

<main>
  <div class="container">
  <%- body %>
  </div>
</main>

  <footer>
    <a href="https://gist.github.com/mbostock/1062288">Collapsible tree code</a> by mbostock. 
  </footer>

</body>
</html>